extends layout.pug
block link
block titulo
    title Iniciar sesión
block contenido
    
    form#formLogin.mt-5(action="LogearUsuario", method="POST", onsubmit="return ValidarFormulario('formLogin')")
        h2.text-center.mb-4 Iniciar sesión
        .row.justify-content-center.mx-0
            .col-4
                .mb-4
                    label(for="correo") Correo : (correo@mail.com)
                    input#correo(type="text", name="correo",class="form-control" required)
                .mb-4
                    label(for="contrasenia") Contraseña: (entre 6 y 10 caracteres)
                    input#contrasenia(type="password", name="contrasenia",class="form-control" required)
        .text-center
            button.btn.btn-primary(type="submit") Ingresar


block scripts
    script(src="./js/cuenta.js")